@page
@model ShipmentTracker.Pages.Payments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Payment Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.TransactionNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.TransactionNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.PaymentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.PaymentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.PaymentMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.PaymentMode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.Shipment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.Shipment.ShipmentNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Payment?.PaymentId" class="btn btn-dark mt-3">Edit</a> |
    <a asp-page="./Index" class="btn btn-dark mt-3">Back to List</a>
</div>
