@page
@model ShipmentTracker.Pages.DeliveryTrackings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Delivery's</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryTracking[0].ExpectedDeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryTracking[0].TrackingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryTracking[0].DeliveryStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryTracking[0].Shipment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeliveryTracking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedDeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shipment.ShipmentNumber)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.DeliveryTrackingId" class="btn btn-secondary">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.DeliveryTrackingId" class="btn btn-secondary">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.DeliveryTrackingId" class="btn btn-secondary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
