@page
@model ShipmentTracker.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Our Customers</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.CustomerId" class="btn btn-secondary">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CustomerId" class="btn btn-secondary">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CustomerId" class="btn btn-secondary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
